{:itonami.blueprint/id "cloud-itonami-isic-6419"
 :itonami.blueprint/name "Community Monetary Intermediation"
 :itonami.blueprint/isic-rev5 "6419"
 :itonami.blueprint/domain :finance/monetary-intermediation
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:financial-inclusion :data-sovereignty :transparency]
 :itonami.blueprint/governor :monetary-intermediation-governor
 :itonami.blueprint/required-technologies [:robotics :banking :swift :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies [:optimization :corporate-intelligence]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
